BasedOnStyle: microsoft
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
PenaltyBreakAssignment: '1000'
PointerAlignment: Left